@import "share/global";

.second-v04 {
    .content {
        .contentBox01{
            margin:0 0 0 0;
            .imgTextBox {
                left: 55%;
                top: 28%;
                max-width: 503px;
                margin: -106px 0 0 -104px;
            }

            @media screen and (max-width:$screenIpadVertical){
                .imgTextBox {
                    left: 30%;
                    top: 20%;
                    max-width: 503px;
                    margin: -106px 0 0 -104px;
                }
            }

            .productInfoSource{
                text-align: left;
                left: 44%;
                top: 91%;
                max-width: 225px;

                @media screen and (max-width:$screenIpadVertical){
                    left: 50%;
                    top:89%;
                }
            }
        }

        .contentBox02 {
            margin:0 0 0 0;
            .imgTextBox {
                left: 28%;
                top: 38%;
                max-width: 525px;
                margin: -106px 0 0 -104px;

                .titleText{
                    margin-left: 0px;
                    margin-bottom: 5px;
                }
            }

            .productInfoSource{
                text-align: right;
                left: 59%;
                top: 82%;
                max-width: 191px;

                @media screen and (max-width:$screenIpadVertical){
                    left: 54%;
                    top:77%;
                }
            }
        }

        .contentBox03 {
            margin:0 0 0 0;
            .imgTextBox {
                left: 52%;
                top: 40%;
                max-width: 484px;
                margin: -106px 0 0 -110px;

                @media screen and (max-width:$screenIpadVertical){
                    left: 71%;
                    top: 57%;
                    max-width: 315px;
                }
            }
            .productInfoSource{
                text-align: left;
                left: 47%;
                top: 91%;
                max-width: 142px;

                @media screen and (max-width:$screenIpadVertical){
                    left: 50%;
                }
            }
        }

        .contentBox04 {
            margin:0 0 0 0;
            .imgTextBox {
                left: 56%;
                top: 17%;
                max-width: 450px;
                margin: -106px 0 0 -110px;

                .sss{
                    margin-left: 84px;
                }
            }
            .productInfoSource{
                text-align: left;
                left: 58%;
                top: 91%;
                max-width: 113px;

                @media screen and (max-width:$screenIpadVertical){
                    left: 50%;
                    top:89%;
                }
            }
        }
    }
}

.second-v04 {
    .content {
        .linkBtn{
            padding: 5px 0 5px 5px; 
        }

        .titleText{
            width: 465px;
            height: 32px;
            font-size: 40px;
            font-weight: 700;
            font-style: normal;
            margin-bottom: 5px; 
            //font-family: Arial;
            font-family: "Open Sans", sans-serif;
        }
        
        
        
        .littleTitleText{
            font-size: 10px;
            font-weight: 400;
            font-style: italic;
            font-family: "Open Sans", sans-serif;
            margin-left: 2px;
        }

        @media screen and (max-width:$screenIpadVertical){

        }

        .littleImg{
            width: 122px;
            height: 90px;
            margin-left: 0px;
            margin-bottom: 5px;
        }

        @media screen and (max-width:$screenIpadVertical){

        }

        .BoxP{
            font-size: 15px;
            font-family: "Open Sans", sans-serif;
            font-style: italic;
            line-height:23px;
            padding: 0 0 0 0;
        }

        @media screen and (max-width:$screenIpadVertical){

        }
    }
}