/*
** iconPath : new version img
** logoPath : pc used
** logoPathSmall : mobile used
*/
/* font
** "Open Sans" website main font
** + from(https://fonts.google.com/specimen/Open+Sans)
** + font-weight-> 300,400(normal),600,700,800
** + font-style-> italic
**
** "Zapfino" homepage what to wear title tag used
**
*/
/*
** colorBlack : main color
** -----------------------------------------------
** hover rule :
**    colorBlack -> colorDarkGray
**    colorDarkGray,colorWhite -> colorLightGary
**    colorLightGary -> colorDarkGray
** -----------------------------------------------
** colorLightBlack,colorLightGary -> scrollbar color
*/
/* icon */
/* font style */
/* text structure */
/* 
** pc : color white
** mobile : color black
*/
/**/
/* a tag full box */
/* mobile uesd
** when you click everying , 
** it may show hover color(1sec)
*/
/* font set */
/* website padding*/
/*
** font hover color
** -----------------------------------------------
** hover rule :
**    colorBlack , colorLightGary -> colorDarkGray
**    colorDarkGray , colorWhite -> colorLightGary
** -----------------------------------------------
*/
/* hidden fonts */
/* text show a line , 
** outpace show "..." 
*/
/* icon position*/
/* border color 
** shopping bag , country , user info
*/
/* border radius */
/*
** transform
*/
/*
** shadow : like matchesfashion
** navigation
*/
/* website btn */
/* 
** Circle loading effect
** product page, product list page
**
*/
/* line 4, ../../scss/homepage/20170802.scss */
main * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  padding: 0;
  margin: 0;
}
/* line 12, ../../scss/homepage/20170802.scss */
main img {
  width: 100%;
}
/* line 16, ../../scss/homepage/20170802.scss */
main ul,
main li {
  list-style: none;
}
/* line 19, ../../scss/homepage/20170802.scss */
main a {
  text-decoration: none;
  color: black;
  outline: 0 none;
  border: 0 none;
}
@media screen and (max-width: 1028px) {
  /* line 19, ../../scss/homepage/20170802.scss */
  main a {
    -webkit-tap-highlight-color: rgba(230, 230, 230, 0.5);
  }
}

/* a tag */
/* line 33, ../../scss/homepage/20170802.scss */
.LinkTag, .contain .coverBanner .bannerBox .bannerPic a, .contain .homepage .contentBox section a {
  display: block;
  height: inherit;
  border: 0;
  font-size: 0;
  overflow: hidden;
  outline: 0 none;
}
/* line 40, ../../scss/homepage/20170802.scss */
.LinkTag img, .contain .coverBanner .bannerBox .bannerPic a img, .contain .homepage .contentBox section a img {
  pointer-events: none;
}

/* line 46, ../../scss/homepage/20170802.scss */
.hoverColor:hover, .contain .copywriter span.shopNow:hover, .contain span.shopNow:hover {
  color: #707070 !important;
}

/* line 51, ../../scss/homepage/20170802.scss */
.contain {
  /* font style */
  /***************banner***************/
  /*************************************************/
}
/* line 53, ../../scss/homepage/20170802.scss */
.contain .copywriter {
  display: block;
  margin: 0 auto;
  padding: 8px 0;
  white-space: normal;
  width: 100%;
  text-align: left;
}
@media screen and (max-width: 600px) {
  /* line 53, ../../scss/homepage/20170802.scss */
  .contain .copywriter {
    padding: 15px 0;
  }
}
/* line 63, ../../scss/homepage/20170802.scss */
.contain .copywriter * {
  color: black;
  padding: 0 0 8px 0;
  margin: 0;
  letter-spacing: 0;
  word-spacing: 0;
}
/* line 71, ../../scss/homepage/20170802.scss */
.contain .copywriter h1,
.contain .copywriter h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 45px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.01em;
  word-spacing: 0.15em;
  text-rendering: optimizeSpeed;
  text-transform: uppercase;
}
@media screen and (max-width: 1028px) {
  /* line 71, ../../scss/homepage/20170802.scss */
  .contain .copywriter h1,
  .contain .copywriter h2 {
    font-size: 45px;
    line-height: 40px;
  }
}
@media screen and (max-width: 769px) {
  /* line 71, ../../scss/homepage/20170802.scss */
  .contain .copywriter h1,
  .contain .copywriter h2 {
    font-size: 38px;
    line-height: 33px;
  }
}
@media screen and (max-width: 600px) {
  /* line 71, ../../scss/homepage/20170802.scss */
  .contain .copywriter h1,
  .contain .copywriter h2 {
    font-size: 35px;
    line-height: 30px;
  }
}
/* line 79, ../../scss/homepage/20170802.scss */
.contain .copywriter h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 26px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.01em;
  word-spacing: 0.2em;
  text-rendering: optimizeSpeed;
  text-transform: uppercase;
}
@media screen and (max-width: 1028px) {
  /* line 79, ../../scss/homepage/20170802.scss */
  .contain .copywriter h3 {
    font-size: 23px;
    line-height: 21px;
  }
}
/* line 84, ../../scss/homepage/20170802.scss */
.contain .copywriter h4 {
  font-weight: normal;
  font-size: 36px;
  line-height: 34px;
  font-family: "monotype", "Times New Roman", Times, serif;
  letter-spacing: 0.01em;
  word-spacing: 0.2em;
  text-rendering: optimizeSpeed;
  text-transform: uppercase;
}
@media screen and (max-width: 1028px) {
  /* line 84, ../../scss/homepage/20170802.scss */
  .contain .copywriter h4 {
    font-size: 31px;
    line-height: 29px;
  }
}
@media screen and (max-width: 600px) {
  /* line 84, ../../scss/homepage/20170802.scss */
  .contain .copywriter h4 {
    font-size: 28px;
    line-height: 28px;
  }
}
/* line 90, ../../scss/homepage/20170802.scss */
.contain .copywriter h5 {
  font-weight: 700;
  font-size: 32px;
  line-height: 30px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.01em;
  word-spacing: 0.2em;
  text-rendering: optimizeSpeed;
  text-transform: uppercase;
  padding-bottom: 0;
  text-align: center;
}
@media screen and (max-width: 1028px) {
  /* line 90, ../../scss/homepage/20170802.scss */
  .contain .copywriter h5 {
    font-size: 27px;
    line-height: 25px;
  }
}
@media screen and (max-width: 600px) {
  /* line 90, ../../scss/homepage/20170802.scss */
  .contain .copywriter h5 {
    font-size: 31px;
    line-height: 29px;
  }
}
/* line 98, ../../scss/homepage/20170802.scss */
.contain .copywriter p {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0;
  word-spacing: 0;
  text-rendering: optimizeSpeed;
}
/* line 101, ../../scss/homepage/20170802.scss */
.contain .copywriter span {
  display: block;
}
/* line 103, ../../scss/homepage/20170802.scss */
.contain .copywriter span.shopNow {
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.06em;
  word-spacing: 0.15em;
  text-rendering: optimizeSpeed;
  padding: 0;
  text-transform: uppercase;
  cursor: pointer;
}
@media screen and (max-width: 1028px) {
  /* line 103, ../../scss/homepage/20170802.scss */
  .contain .copywriter span.shopNow {
    font-size: 12px;
    line-height: 19px;
  }
}
/* line 111, ../../scss/homepage/20170802.scss */
.contain .copywriter span.designer {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.06em;
  word-spacing: 0.2em;
  text-rendering: optimizeSpeed;
  display: block;
  padding: 0;
}
/* line 119, ../../scss/homepage/20170802.scss */
.contain .copywriter span.titleTag {
  font-weight: normal;
  font-size: 28px;
  line-height: 25px;
  font-family: "Zapfino", "Times New Roman", Times, serif;
  letter-spacing: 0.06em;
  word-spacing: 0;
  text-rendering: optimizeSpeed;
  padding: 0;
  text-transform: capitalize;
}
@media screen and (max-width: 1028px) {
  /* line 119, ../../scss/homepage/20170802.scss */
  .contain .copywriter span.titleTag {
    font-size: 27px;
    line-height: 24px;
  }
}
/* line 126, ../../scss/homepage/20170802.scss */
.contain .copywriter time {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.06em;
  word-spacing: 0.2em;
  text-rendering: optimizeSpeed;
  text-transform: uppercase;
  display: inline-block;
  padding: 0;
  vertical-align: baseline;
}
/* line 135, ../../scss/homepage/20170802.scss */
.contain span.shopBtn {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.06em;
  word-spacing: 0.15em;
  text-rendering: optimizeSpeed;
  color: #fff;
  background-color: black;
  cursor: pointer;
  text-transform: uppercase;
  padding: 5px 10px;
  display: inline-block;
}
@media screen and (max-width: 1028px) {
  /* line 135, ../../scss/homepage/20170802.scss */
  .contain span.shopBtn {
    font-size: 13px;
    line-height: 19px;
  }
}
/* line 59, ../../scss/share/_homepageOnly.scss */
.contain span.shopBtn:hover {
  background-color: #9b9b9b;
}
/* line 138, ../../scss/homepage/20170802.scss */
.contain span.shopNow {
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.06em;
  word-spacing: 0.15em;
  text-rendering: optimizeSpeed;
  padding: 0;
  text-transform: uppercase;
  cursor: pointer;
}
@media screen and (max-width: 1028px) {
  /* line 138, ../../scss/homepage/20170802.scss */
  .contain span.shopNow {
    font-size: 12px;
    line-height: 19px;
  }
}
/* line 148, ../../scss/homepage/20170802.scss */
.contain .coverBanner {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}
/* line 153, ../../scss/homepage/20170802.scss */
.contain .coverBanner .bannerBox {
  display: block;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  white-space: nowrap;
  font-size: 0;
  padding: 0;
}
/* line 162, ../../scss/homepage/20170802.scss */
.contain .coverBanner .bannerBox .slick-dots {
  margin: 15px auto;
}
@media screen and (max-width: 769px) {
  /* line 162, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .slick-dots {
    margin: 0 auto;
  }
}
/* line 168, ../../scss/homepage/20170802.scss */
.contain .coverBanner .bannerBox .bannerPic {
  position: relative;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  vertical-align: top;
  border: none;
  outline: 0 none;
  /*                @media screen and (min-width: 1501px) {
                      a#gtm-bannerC,
                      a[data-content="box-bannerC-NEW ARRIVALS"] {
                          background-color: #c1c0ab;
                          img {
                              max-height: 100%;
                              max-width: 90%;
                              height: auto;
                              width: auto;
                              padding-top: 7%;
                              padding-left: 8%;
                              margin-bottom: 4%;
                          }
                      }
                  }*/
}
/* line 193, ../../scss/homepage/20170802.scss */
.contain .coverBanner .bannerBox .bannerPic a .bannerA {
                        /*
                        @include textBoxOne(53%, auto, auto, -200px);
                        @include textBoxOneIpad(1600px, 43%,auto, auto, -200px);
                        @include textBoxOneIpad(1500px, 45%,auto, auto, -200px);
                        @include textBoxOneIpad(1400px, 45%,auto, auto, -200px);
                        @include textBoxOneIpad($screenPcSize, 47%,auto, auto, -200px);
                        @include textBoxOneIpad($screenPcSizeOne, 48%,auto, auto, -200px);
                        @include textBoxOneIpad($screenPcSizeTwo, 49%,auto, auto, -200px);
                        @include textBoxOneIpad($screenIpadHorizontal, 56%,auto, auto, -200px);
                        @include textBoxOneIpad($screenIpadVerticalOne, 57%, auto, auto, -200px);
                        @include textBoxOneIpad(900px, 60%, auto, auto, -200px);
                        @include textBoxOneIpad(850px, 61%, auto, auto, -200px);
                        @include textBoxOneIpad(800px, 62%, auto, auto, -200px);
                        @include textBoxOneIpad($screenIpadVertical, 58%, auto, auto, -200px);

                        width: 100%;
                        text-align: center;

                        h1 {
                            max-width: 700px;
                            margin: 30px auto 30px auto;
                            padding-bottom: 0;
                            @include fontSetDevice(2000px, 73px, 82px);
                            @include fontSetDevice(1700px, 73px, 82px);
                            @include fontSetDevice($screenPcSize, 44px, 45px);
                            @include fontSetDevice($screenPcSizeOne, 44px, 45px);
                            @include fontSetDevice($screenPcSizeTwo, 44px, 45px);
                            @include fontSetDevice($screenIpadVerticalOne, 40px, 40px);
                            @include fontSetDevice($screenIpadVertical, 28x, 28px);

                            @media screen and (max-width: $screenPcSize) {
                                //   max-width: 70%;
                                //   margin: 1% 15% 5% 15%;
                            }
                            @media screen and (max-width: $screenIpadVerticalOne) {
                                //  max-width: 60%;
                                //    margin: 1% 20% 5% 20%;
                            }
                            @media screen and (max-width: $screenIpadVertical) {
                                max-width: 50%;
                                font-size: 38px;
                                line-height: 33px;
                                padding-bottom: 8px;
                                color: black;
                            }
                            @media screen and (max-width: $screenMobile) {
                                max-width: 100%;
                                font-size: 35px;
                                line-height: 30px;
                            }

                        }
                        div{
                            left: 50px;
                            p{
                                margin-left: 50px;
                                display: inline-block;
                            }
                            //margin: 0 0 0 0;
                            //background-color: white;
                            //padding: 2%;
                            max-width: 100%;
                            margin: 0% 17% 0% 25%;
                            div{
                                //color:#ea8982;
                                //vertical-align: baseline;
                                display: inline-block;
                                //text-decoration:underline;//底線
                                //margin-top: 5px;
                                margin-left: 5px;
                                padding-bottom: 15px;
                                border-bottom: 3px solid black;
                                @include fontSetPC(bold, 52px, 23px, $fontFamilyOpenSans, 0.05em, 0); //80 70
                                @include fontSetDevice($screenPcSize, 70px, 60px);
                                @include fontSetDevice($screenPcSizeTwo, 50px, 40px);
                                @include fontSetDevice($screenIpadVerticalOne, 40px, 30px);
                                @media screen and (max-width: $screenIpadVertical) {
                                    color: black;

                                    display:none;
                                }
                            }

                            @media screen and (max-width: $screenIpadVertical) {
                                height: 0;
                                display:none;
                            }

                        }
                        p {
                            &.p1 {
                                text-transform: uppercase;
                                @include fontSetPC(bold, 27px, 42px, $fontFamilyOpenSans, 0.4em, 0);
                                @include fontSetDevice($screenPcSize, 25px, 38px);
                                @include fontSetDevice($screenPcSizeOne, 25px, 38px);
                                @include fontSetDevice($screenPcSizeTwo, 20px, 33px);
                                @include fontSetDevice($screenIpadVerticalOne,20px, 33px);
                                @media screen and (max-width: $screenPcSizeTwo) {
                                    letter-spacing: 0.2em;
                                }
                                @media screen and (max-width: $screenIpadVertical) {
                                    color: black;

                                    display:none;
                                }
                            }
                            &.p2 {
                                @include fontSetPC(bold, 49px, 0.2, $fontFamilyOpenSans, 0, 0);
                                @include fontSetDevice($screenPcSize, 32px, 0px);
                                @include fontSetDevice($screenPcSizeOne, 29px, 0px);
                                @include fontSetDevice($screenPcSizeTwo, 24px, 0px);
                                @include fontSetDevice($screenIpadVerticalOne, 21px, 0px);
                                font-weight: 200;
                                @media screen and (max-width: $screenIpadVertical) {
                                    color: black;

                                    display:none;
                                }
                            }

                            &.p3 {
                                //color:#ea8982; 
                                text-transform: uppercase;
                                @include fontSetPC(normal, 29px, 25px, $fontFamilyOpenSans, 0.05em, 0);
                                @include fontSetDevice($screenPcSize, 25px, 25px);
                                @include fontSetDevice($screenPcSizeOne, 25px, 25px);
                                @include fontSetDevice($screenPcSizeTwo, 20px, 25px);
                                @include fontSetDevice($screenIpadVerticalOne, 18px, 25px);

                                @media screen and (max-width: $screenIpadVertical) {
                                    color: black;
                                    height: 0;
                                    display:none;

                                }

                            }
                            &.p4{
                                line-height: 37px;
                                font-weight:600;
                                @include fontSetDevice($screenPcSize, 16px, 37px);
                                @media screen and (max-width: $screenIpadVertical) {
                                    color: black;
                                    height: 0;
                                    display:none;
                                }
                            }
                        }
                        span.shopNow {
                            width: 100%;
                            display: inline-block;
                            margin-top: 1%;
                            font-size: 13px;
                            letter-spacing: 0;
                            @media screen and (max-width: $screenIpadVerticalOne) {
                                margin-top: 2%;

                            }
                            @media screen and (max-width: $screenIpadVertical) {
                                color:black;
                                @include fontSetPC(700, 12px, 19px, $fontFamilyOpenSans, 0.06em, 0.15em);
                                margin: 0px;
                                padding: 0;
                                text-transform: uppercase;
                                cursor: pointer;
                            }
                        }
*/
  /*
                          margin: 0 0 0 0;
                          
  
                          @include textBoxOne(39%, 53%, 700px, -88px);// pc設定
                          @include fontSetPC(bold, 27px, 42px, $fontFamilyOpenSans, 0.4em, 0);
  
                          .p1{
                              @include fontSetPC(bold, 27px, 42px, $fontFamilyOpenSans, 0.4em, 0);
                              margin-left: 17%;
                              margin-bottom: 3%;
                              @media screen and (max-width: 1600px) {
                                  margin-bottom: 0px;
                              }
                              @media screen and (max-width: 1300px) {
                                  @include fontSetDevice(1300px, 19px, 38px);
                                  margin-top: 12px;
                                  margin-left: 25%;
                                  margin-bottom: -1%;
                              }
                              @media screen and (max-width: 1100px){
                                  margin-top: 20px;
                                  font-size: 17px;
                                  margin-left: 29%;
                              }
                              @media screen and (max-width: 1100px){
                                  margin-bottom: -2%;
                              }
                              @media screen and (max-width: 1100px){
                                  margin-top: 24px;
                              }
                          }
  
                          h1{
                              max-width: 560px;
                              font-size: 56px;
                              line-height: 65px;
  
                              margin-left: 80px;
                              margin-bottom: 10px;
                              @media screen and (max-width: 1600px) {
                                  margin-left: 90px;
                              }
                              @media screen and (max-width: 1400px) {
                                  margin-bottom: 5px;
                                  max-width: 405px;
                                  font-size: 49px;
                                  margin-left: 122px;
                              }
                              @media screen and (max-width: 1300px) {
                                  margin-left:135px;
                                  max-width: 373px;
                                  font-size: 46px;
                                  line-height: 50px;
                              }
                              @media screen and (max-width: 1100px) {
                                  margin-left:190px;
                                  margin-bottom: -7px;
                                  max-width: 319px;
                                  font-size: 35px;
                                  line-height: 40px;
                              }
                              @media screen and (max-width: 900px) {
                                  margin-bottom: -14px;
                              }
                              @media screen and (max-width: $screenIpadVertical) {
                                  margin: 0 0 0 0;
                                  line-height: 30px;
                              }
                              @media screen and (max-width: 600px) {
                                  line-height: 30px;
                              }
                          }
                          div{
                              .p3{
                                  display: inline-block;
                                  margin-top: 8px;
                                  margin-left: 27px;
                                  @include fontSetPC(normal, 29px, 25px, $fontFamilyOpenSans, 0.05em, 0);
                                  @media screen and (max-width: 1600px) {
                                      margin-left: 35px;
                                  }
                                  @media screen and (max-width: 1500px) {
                                      font-size: 25px;
                                      margin-left: 84px;
                                  }
                                  @media screen and (max-width: 1300px) {
                                      font-size: 20px;
                                      margin-left: 135px;
                                  }
                                  @media screen and (max-width: 1100px) {
                                      font-size: 16px;
                                      margin-left: 197px;
                                  }
                              }
                              .under{
                                  display: inline-block;
                                  border-bottom: 3px solid black;
                                  font-size: 50px;
                                  @media screen and (max-width: 1500px) {
                                      margin-top: 10px;
                                      @include fontSetDevice(1500px, 40px, 25px);
                                  }
                                  @media screen and (max-width: 1300px) {
                                      font-size: 30px;
                                      line-height: 21px;
                                  }
                                  @media screen and (max-width: 1100px) {
                                      margin-top: 17px;
                                      font-size: 18px;
                                      line-height: 11px;
                                  }
                              }
                              @media screen and (max-width: 1400px) {
                                  padding-bottom: 4px;
                              }
                          }
                          .p4{
                              line-height: 37px;
                              font-weight:600;
                              margin-top: 5px;
                              margin-left: 147px;
                              @media screen and (max-width: 1400px) {
                                  margin-top: 0px;
                              }
                              @media screen and (max-width: 1300px) {
                                  margin-left: 165px;
                              }
                              @media screen and (max-width: 1100px) {
                                  font-size: 13px;
                                  margin-left: 207px;
                              }
                              @media screen and (max-width: 900px) {
                                  margin-top: -8px;
                              }
                          }
                          span{
                              color: black;
                              margin-top: 86px;
                              margin-left: 257px;
                              //text-align:center; //段落置中
                              @media screen and (max-width: 1800px) {
                                  margin-top: 64px;
                              }
                              @media screen and (max-width: 1700px) {
                                  margin-top: 46px;
                              }
                              @media screen and (max-width: 1100px) {
                                  margin-top: 50px;
                                  margin-left: 280px;
                              }
                              @media screen and (max-width: $screenIpadVerticalOne) {
                                  margin-top: 30px;
                                  margin-left: 280px;
                              }
                              @media screen and (max-width: 844px) {
                                  margin-top: 24px;
                              }
                              @media screen and (max-width: $screenIpadVertical) {
                                  margin: 0 0 0 0;
                              }
                          }
                          .mobileHide{
                              @media screen and (max-width: $screenIpadVertical) {
                                  display: none;
                              }
                          }
                          */
  margin: 0 0 0 0;
  position: absolute;
  top: 39%;
  left: 52%;
  text-align: left;
  width: 100%;
  max-width: 700px;
  margin-left: -350px;
  margin-top: -88px;
  font-weight: bold;
  font-size: 27px;
  line-height: 42px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.4em;
  word-spacing: 0;
  text-rendering: optimizeSpeed;
}
@media screen and (max-width: 1600px) {
  /* line 193, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA {
    position: absolute;
    top: 41%;
    left: 52%;
    text-align: left;
    width: 100%;
    max-width: 700px;
    margin-left: -350px;
    margin-top: -88px;
  }
}
/* line 538, ../../scss/homepage/20170802.scss */
.contain .coverBanner .bannerBox .bannerPic a .bannerA .p1 {
  font-weight: bold;
  font-size: 27px;
  line-height: 42px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.4em;
  word-spacing: 0;
  text-rendering: optimizeSpeed;
  max-width: 58%;
  margin-left: 21%;
  margin-right: 21%;
  text-align: center;
  margin-bottom: 3%;
}
@media screen and (max-width: 1600px) {
  /* line 538, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA .p1 {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 1300px) {
  /* line 538, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA .p1 {
    margin-top: 12px;
    margin-bottom: -1%;
  }
}
@media screen and (max-width: 1300px) and (max-width: 1300px) {
  /* line 538, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA .p1 {
    font-size: 19px;
    line-height: 38px;
  }
}
@media screen and (max-width: 1100px) {
  /* line 538, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA .p1 {
    margin-top: 20px;
    font-size: 17px;
  }
}
@media screen and (max-width: 1100px) {
  /* line 538, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA .p1 {
    margin-bottom: -2%;
  }
}
@media screen and (max-width: 1100px) {
  /* line 538, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA .p1 {
    margin-top: 24px;
  }
}
/* line 567, ../../scss/homepage/20170802.scss */
.contain .coverBanner .bannerBox .bannerPic a .bannerA h1 {
  max-width: 66%;
  margin-left: 17%;
  margin-right: 17%;
  margin-bottom: 10px;
  font-size: 56px;
  line-height: 65px;
  text-align: center;
}
@media screen and (max-width: 1600px) {
  /* line 567, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA h1 {
    line-height: 55px;
  }
}
@media screen and (max-width: 1400px) {
  /* line 567, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA h1 {
    margin-bottom: 5px;
    max-width: 58%;
    margin-left: 21%;
    margin-right: 21%;
    font-size: 49px;
  }
}
@media screen and (max-width: 1300px) {
  /* line 567, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA h1 {
    font-size: 46px;
    line-height: 50px;
  }
}
@media screen and (max-width: 1100px) {
  /* line 567, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA h1 {
    margin-bottom: -7px;
    max-width: 42%;
    margin-left: 29%;
    margin-right: 29%;
    font-size: 35px;
    line-height: 40px;
  }
}
@media screen and (max-width: 1000px) {
  /* line 567, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA h1 {
    margin-bottom: -7px;
  }
}
@media screen and (max-width: 900px) {
  /* line 567, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA h1 {
    margin-bottom: -14px;
  }
}
@media screen and (max-width: 769px) {
  /* line 567, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA h1 {
    margin: 0 0 0 0;
    line-height: 30px;
    max-width: 284px;
  }
}
@media screen and (max-width: 600px) {
  /* line 567, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA h1 {
    line-height: 30px;
  }
}
/* line 614, ../../scss/homepage/20170802.scss */
.contain .coverBanner .bannerBox .bannerPic a .bannerA .div01 {
  max-width: 82%;
  margin-left: 9%;
  margin-right: 9%;
  text-align: center;
}
@media screen and (max-width: 1600px) {
  /* line 614, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA .div01 {
    max-width: 82%;
    margin-left: 9%;
    margin-right: 9%;
    text-align: center;
  }
}
@media screen and (max-width: 1500px) {
  /* line 614, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA .div01 {
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media screen and (max-width: 1400px) {
  /* line 614, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA .div01 {
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media screen and (max-width: 1300px) {
  /* line 614, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA .div01 {
    max-width: 54%;
    margin-left: 23%;
    margin-right: 23%;
  }
}
@media screen and (max-width: 1200px) {
  /* line 614, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA .div01 {
    max-width: 54%;
    margin-left: 23%;
    margin-right: 23%;
    margin-bottom: -14px;
  }
}
@media screen and (max-width: 1100px) {
  /* line 614, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA .div01 {
    max-width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }
}
/* line 656, ../../scss/homepage/20170802.scss */
.contain .coverBanner .bannerBox .bannerPic a .bannerA .div01 .p3 {
  display: inline-block;
  margin-top: 8px;
  text-align: center;
  font-weight: normal;
  font-size: 29px;
  line-height: 25px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.05em;
  word-spacing: 0;
  text-rendering: optimizeSpeed;
}
@media screen and (max-width: 1600px) {
  /* line 656, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA .div01 .p3 {
    font-size: 23px;
  }
}
@media screen and (max-width: 1500px) {
  /* line 656, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA .div01 .p3 {
    font-size: 23px;
  }
}
@media screen and (max-width: 1300px) {
  /* line 656, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA .div01 .p3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 1100px) {
  /* line 656, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA .div01 .p3 {
    font-size: 16px;
  }
}
/* line 674, ../../scss/homepage/20170802.scss */
.contain .coverBanner .bannerBox .bannerPic a .bannerA .div01 .under {
  display: inline-block;
  text-align: center;
  padding-bottom: 4px;
  border-bottom: 3px solid black;
  font-size: 50px;
}
@media screen and (max-width: 1600px) {
  /* line 674, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA .div01 .under {
    font-size: 35px;
    padding-bottom: 0px;
    height: 40px;
  }
}
@media screen and (max-width: 1500px) {
  /* line 674, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA .div01 .under {
    margin-top: -4px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 1500px) and (max-width: 1500px) {
  /* line 674, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA .div01 .under {
    font-size: 26px;
    line-height: 48px;
  }
}
@media screen and (max-width: 1300px) {
  /* line 674, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA .div01 .under {
    font-size: 26px;
    line-height: 43px;
    padding-top: 4px;
    padding-bottom: 0px;
    border-bottom: 2px solid black;
  }
}
@media screen and (max-width: 1100px) {
  /* line 674, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA .div01 .under {
    margin-top: -10px;
    font-size: 18px;
    line-height: 54px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid black;
  }
}
/* line 710, ../../scss/homepage/20170802.scss */
.contain .coverBanner .bannerBox .bannerPic a .bannerA .p4 {
  max-width: 44%;
  margin-left: 28%;
  margin-right: 28%;
  line-height: 37px;
  font-weight: 600;
  margin-top: 5px;
  text-align: center;
}
@media screen and (max-width: 1400px) {
  /* line 710, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA .p4 {
    margin-top: 0px;
  }
}
@media screen and (max-width: 1100px) {
  /* line 710, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA .p4 {
    font-size: 13px;
  }
}
@media screen and (max-width: 1000px) {
  /* line 710, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA .p4 {
    margin-bottom: -7px;
  }
}
/* line 736, ../../scss/homepage/20170802.scss */
.contain .coverBanner .bannerBox .bannerPic a .bannerA span {
  color: black;
  margin-top: 86px;
  text-align: center;
}
@media screen and (max-width: 1800px) {
  /* line 736, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA span {
    margin-top: 64px;
  }
}
@media screen and (max-width: 1700px) {
  /* line 736, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA span {
    margin-top: 46px;
  }
}
@media screen and (max-width: 1600px) {
  /* line 736, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA span {
    margin-top: 76px;
  }
}
@media screen and (max-width: 1500px) {
  /* line 736, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA span {
    margin-top: 62px;
  }
}
@media screen and (max-width: 1300px) {
  /* line 736, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA span {
    margin-top: 50px;
  }
}
@media screen and (max-width: 1100px) {
  /* line 736, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA span {
    margin-top: 50px;
  }
}
@media screen and (max-width: 992px) {
  /* line 736, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA span {
    margin-top: 30px;
  }
}
@media screen and (max-width: 844px) {
  /* line 736, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA span {
    margin-top: 24px;
  }
}
@media screen and (max-width: 769px) {
  /* line 736, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA span {
    margin: 0 0 0 0;
    text-align: left;
  }
}
@media screen and (max-width: 769px) {
  /* line 770, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerA .mobileHide {
    display: none;
  }
}
/* line 780, ../../scss/homepage/20170802.scss */
.contain .coverBanner .bannerBox .bannerPic a .bannerB {
  position: absolute;
  top: 45%;
  left: 49%;
  text-align: left;
  width: 100%;
  max-width: 312px;
  margin-left: -156px;
  margin-top: -88px;
  text-align: left;
}
@media screen and (max-width: 1100px) {
  /* line 780, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerB {
    top: 45%;
    left: 48%;
    max-width: 267px;
    margin-left: -133.5px;
    margin-top: -88px;
  }
}
@media screen and (max-width: 992px) {
  /* line 780, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerB {
    top: 45%;
    left: 46%;
    max-width: 255px;
    margin-left: -127.5px;
    margin-top: -88px;
  }
}
/* line 789, ../../scss/homepage/20170802.scss */
.contain .coverBanner .bannerBox .bannerPic a .bannerC {
  text-align: left;
  position: absolute;
  top: 20%;
  left: 80%;
  text-align: left;
  width: 100%;
  max-width: 408px;
  margin-left: -204px;
  margin-top: -58px;
}
@media screen and (max-width: 1200px) {
  /* line 789, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerC {
    top: 18%;
    left: 79%;
    max-width: 373px;
    margin-left: -186.5px;
    margin-top: -58px;
  }
}
@media screen and (max-width: 992px) {
  /* line 789, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .bannerC {
    top: 17%;
    left: 77%;
    max-width: 335px;
    margin-left: -167.5px;
    margin-top: -58px;
  }
}
@media screen and (max-width: 769px) {
  /* line 796, ../../scss/homepage/20170802.scss */
  .contain .coverBanner .bannerBox .bannerPic a .copywriter {
    position: static;
    margin: 0 auto;
    display: block;
    text-align: left;
    width: 100%;
    max-width: 100%;
    padding: 15px;
  }
}
/* line 807, ../../scss/homepage/20170802.scss */
.contain .backgroundImg {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  background-image: url(http://www.ifchic.com/img/banners/2017/05/25/summersale_bg_2.jpg?v=11);
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  padding-top: 60px;
}
@media screen and (max-width: 1200px) {
  /* line 807, ../../scss/homepage/20170802.scss */
  .contain .backgroundImg {
    background-image: none;
  }
}
/* line 824, ../../scss/homepage/20170802.scss */
.contain .homepage {
  max-width: 1300px;
  width: 100%;
  margin: 0px auto 8%;
  padding: 0 25px;
  /*left Box*/
  /*right Box*/
}
@media screen and (max-width: 1300px) {
  /* line 824, ../../scss/homepage/20170802.scss */
  .contain .homepage {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1028px) {
  /* line 824, ../../scss/homepage/20170802.scss */
  .contain .homepage {
    padding: 0 15px;
    max-width: 100%;
  }
}
/* line 837, ../../scss/homepage/20170802.scss */
.contain .homepage .theWomen {
  text-align: center;
  margin: 4% auto 5% !important;
  position: relative;
  padding: 0 50px;
}
/* line 843, ../../scss/homepage/20170802.scss */
.contain .homepage .theWomen h3 {
  padding-right: 24%;
}
@media screen and (max-width: 1028px) {
  /* line 843, ../../scss/homepage/20170802.scss */
  .contain .homepage .theWomen h3 {
    padding-right: 23%;
  }
}
@media screen and (max-width: 900) {
  /* line 843, ../../scss/homepage/20170802.scss */
  .contain .homepage .theWomen h3 {
    padding-right: 46%;
  }
}
@media screen and (max-width: 992px) {
  /* line 843, ../../scss/homepage/20170802.scss */
  .contain .homepage .theWomen h3 {
    padding-right: 41%;
  }
}
@media screen and (max-width: 992px) {
  /* line 837, ../../scss/homepage/20170802.scss */
  .contain .homepage .theWomen {
    text-align: left;
    padding: 0 40px;
  }
}
@media screen and (max-width: 600px) {
  /* line 837, ../../scss/homepage/20170802.scss */
  .contain .homepage .theWomen {
    padding: 0;
  }
}
/* line 862, ../../scss/homepage/20170802.scss */
.contain .homepage .theWomen a {
  overflow: hidden;
  display: block;
  height: 100%;
}
/* line 866, ../../scss/homepage/20170802.scss */
.contain .homepage .theWomen a.shopTheIssue {
  margin: 10px auto 20px;
  text-align: center;
}
/* line 871, ../../scss/homepage/20170802.scss */
.contain .homepage .theWomen .pcBox {
  border: 1px solid #d7d7d7;
  background-color: white;
}
@media screen and (max-width: 600px) {
  /* line 871, ../../scss/homepage/20170802.scss */
  .contain .homepage .theWomen .pcBox {
    display: none !important;
  }
}
/* line 878, ../../scss/homepage/20170802.scss */
.contain .homepage .theWomen section {
  margin-bottom: 0;
  padding: 0;
  display: inline-block;
  border: 0 none;
  outline: 0 none;
}
/* line 884, ../../scss/homepage/20170802.scss */
.contain .homepage .theWomen section > div {
  overflow: hidden;
}
/* line 887, ../../scss/homepage/20170802.scss */
.contain .homepage .theWomen section > div.imgFloatRight img {
  float: right;
}
/* line 892, ../../scss/homepage/20170802.scss */
.contain .homepage .theWomen section > div.imgFloatLeft img {
  float: left;
}
/* line 895, ../../scss/homepage/20170802.scss */
.contain .homepage .theWomen section > div.imgFloatLeft .textBoxStyle {
  margin-right: 0;
}
/* line 899, ../../scss/homepage/20170802.scss */
.contain .homepage .theWomen section > div .textBoxStyle {
  display: inline-block;
  width: 55%;
  max-width: 100%;
  margin-right: 5%;
}
@media screen and (max-width: 992px) {
  /* line 899, ../../scss/homepage/20170802.scss */
  .contain .homepage .theWomen section > div .textBoxStyle {
    display: block;
    width: 100%;
    max-width: 100%;
  }
}
/* line 909, ../../scss/homepage/20170802.scss */
.contain .homepage .theWomen section > div .textBoxStyle .copywriter {
  padding: 0;
}
/* line 911, ../../scss/homepage/20170802.scss */
.contain .homepage .theWomen section > div .textBoxStyle .copywriter p {
  padding-bottom: 15px;
}
/* line 917, ../../scss/homepage/20170802.scss */
.contain .homepage .theWomen section > div .textBoxContent p {
  line-height: 25px;
}
/* line 921, ../../scss/homepage/20170802.scss */
.contain .homepage .theWomen section > div .titleContent {
  padding-top: 0;
}
@media screen and (max-width: 992px) {
  /* line 921, ../../scss/homepage/20170802.scss */
  .contain .homepage .theWomen section > div .titleContent {
    padding-top: 10px;
  }
}
@media screen and (max-width: 992px) {
  /* line 927, ../../scss/homepage/20170802.scss */
  .contain .homepage .theWomen section > div .contentBoxStyle {
    width: 100%;
    display: block;
    max-width: 100%;
    overflow: hidden;
    padding-top: 15px;
  }
}
/* line 937, ../../scss/homepage/20170802.scss */
.contain .homepage .theWomen section img {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}
@media screen and (max-width: 992px) {
  /* line 937, ../../scss/homepage/20170802.scss */
  .contain .homepage .theWomen section img {
    display: block;
    margin: 0 auto;
    width: 60%;
    float: none !important;
  }
}
@media screen and (max-width: 600px) {
  /* line 937, ../../scss/homepage/20170802.scss */
  .contain .homepage .theWomen section img {
    width: 100%;
    display: block;
  }
}
/* line 953, ../../scss/homepage/20170802.scss */
.contain .homepage .theWomen .slick-arrow {
  top: 40%;
}
@media screen and (max-width: 769px) {
  /* line 953, ../../scss/homepage/20170802.scss */
  .contain .homepage .theWomen .slick-arrow {
    top: 40%;
  }
}
@media screen and (max-width: 600px) {
  /* line 953, ../../scss/homepage/20170802.scss */
  .contain .homepage .theWomen .slick-arrow {
    display: none !important;
  }
}
/* line 962, ../../scss/homepage/20170802.scss */
.contain .homepage .theWomen .slick-list {
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  /* line 962, ../../scss/homepage/20170802.scss */
  .contain .homepage .theWomen .slick-list {
    border: 0 none;
    margin: 0 auto;
  }
}
/* line 969, ../../scss/homepage/20170802.scss */
.contain .homepage .theWomen span {
  vertical-align: baseline;
}
/* line 971, ../../scss/homepage/20170802.scss */
.contain .homepage .theWomen span.designer {
  padding-bottom: 10px;
  color: #bababa;
}
/* line 975, ../../scss/homepage/20170802.scss */
.contain .homepage .theWomen span.titleTag {
  display: inline-block;
  font-size: 50px;
  line-height: 61px;
  margin-left: 5px;
  height: 42px;
}
@media screen and (max-width: 992px) {
  /* line 975, ../../scss/homepage/20170802.scss */
  .contain .homepage .theWomen span.titleTag {
    font-size: 45px;
    line-height: 66px;
    height: 44px;
    margin-left: 0;
  }
}
@media screen and (max-width: 600px) {
  /* line 975, ../../scss/homepage/20170802.scss */
  .contain .homepage .theWomen span.titleTag {
    font-size: 35px;
    line-height: 30px;
    height: 24px;
  }
}
/* line 993, ../../scss/homepage/20170802.scss */
.contain .homepage .theWomen span.shopNow {
  display: block;
  text-align: left;
}
/* line 999, ../../scss/homepage/20170802.scss */
.contain .homepage .theWomen ul.pcShow {
  display: block;
  padding: 20px 50px 0;
}
/* line 1003, ../../scss/homepage/20170802.scss */
.contain .homepage .theWomen ul.mobileShow {
  display: none;
}
@media screen and (max-width: 600px) {
  /* line 1003, ../../scss/homepage/20170802.scss */
  .contain .homepage .theWomen ul.mobileShow {
    display: block !important;
    border: 1px solid #d7d7d7;
    padding: 10px 15px;
  }
}
/* line 1010, ../../scss/homepage/20170802.scss */
.contain .homepage .theWomen ul.mobileShow p {
  max-height: 104px;
  overflow: hidden;
}
/* line 1020, ../../scss/homepage/20170802.scss */
.contain .homepage .contentBox {
  width: 60%;
  margin-right: 10%;
  display: inline-block;
  background-color: #fff;
  padding: 7px 15px 15px;
}
@media screen and (max-width: 1200px) {
  /* line 1020, ../../scss/homepage/20170802.scss */
  .contain .homepage .contentBox {
    width: 67%;
    margin-right: 2%;
  }
}
@media screen and (max-width: 769px) {
  /* line 1020, ../../scss/homepage/20170802.scss */
  .contain .homepage .contentBox {
    width: 100%;
    margin: 0 auto;
  }
}
/* line 1035, ../../scss/homepage/20170802.scss */
.contain .homepage .contentBox section {
  margin-bottom: 8%;
  display: block;
  position: relative;
  vertical-align: top;
}
@media screen and (max-width: 1028px) {
  /* line 1035, ../../scss/homepage/20170802.scss */
  .contain .homepage .contentBox section {
    margin-bottom: 5%;
  }
}
@media screen and (max-width: 600px) {
  /* line 1035, ../../scss/homepage/20170802.scss */
  .contain .homepage .contentBox section {
    margin-bottom: 30px;
  }
}
/* line 1050, ../../scss/homepage/20170802.scss */
.contain .homepage .contentBox section.ADbanner .copywriter.bannerAD {
  max-width: 300px;
  margin-top: -230px;
}
/* line 1053, ../../scss/homepage/20170802.scss */
.contain .homepage .contentBox section.ADbanner .copywriter.bannerAD h3 {
  font-size: 16px;
}
/* line 1059, ../../scss/homepage/20170802.scss */
.contain .homepage .contentBox section.newArrivals .copywriter {
  text-align: center;
}
/* line 1062, ../../scss/homepage/20170802.scss */
.contain .homepage .contentBox section.newArrivals .productsBox {
  padding: 0 40px;
}
/* line 1064, ../../scss/homepage/20170802.scss */
.contain .homepage .contentBox section.newArrivals .productsBox .product_list_page {
  padding-bottom: 0px;
}
@media screen and (max-width: 769px) {
  /* line 1068, ../../scss/homepage/20170802.scss */
  .contain .homepage .contentBox section.newArrivals .slick-arrow {
    top: 40%;
  }
}
@media screen and (max-width: 600px) {
  /* line 1068, ../../scss/homepage/20170802.scss */
  .contain .homepage .contentBox section.newArrivals .slick-arrow {
    top: 40%;
  }
}
/* line 1077, ../../scss/homepage/20170802.scss */
.contain .homepage .contentBox section.navigation {
  display: none;
}
@media screen and (max-width: 600px) {
  /* line 1077, ../../scss/homepage/20170802.scss */
  .contain .homepage .contentBox section.navigation {
    display: block;
  }
}
/* line 1083, ../../scss/homepage/20170802.scss */
.contain .homepage .contentBox section.navigation ul li {
  border-bottom: 1px solid #9b9b9b;
}
/* line 1085, ../../scss/homepage/20170802.scss */
.contain .homepage .contentBox section.navigation ul li a {
  font-weight: 700;
  font-size: 15px;
  line-height: 35px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.05em;
  word-spacing: 0;
  text-rendering: optimizeSpeed;
  color: black;
  text-transform: uppercase;
  text-align: center;
  -webkit-tap-highlight-color: rgba(230, 230, 230, 0.5);
}
/* line 1091, ../../scss/homepage/20170802.scss */
.contain .homepage .contentBox section.navigation ul li a:hover {
  background-color: rgba(230, 230, 230, 0.5);
}
/* line 1095, ../../scss/homepage/20170802.scss */
.contain .homepage .contentBox section.navigation ul li:first-child {
  border-top: 3px solid #9b9b9b;
}
/* line 1098, ../../scss/homepage/20170802.scss */
.contain .homepage .contentBox section.navigation ul li:last-child {
  border-bottom: 3px solid #9b9b9b;
}
/* line 1104, ../../scss/homepage/20170802.scss */
.contain .homepage .contentBox section.sortA {
  display: none;
}
@media screen and (max-width: 600px) {
  /* line 1104, ../../scss/homepage/20170802.scss */
  .contain .homepage .contentBox section.sortA {
    position: relative;
    height: 150px;
    overflow: hidden;
  }
}
@media screen and (max-width: 600px) {
  /* line 1111, ../../scss/homepage/20170802.scss */
  .contain .homepage .contentBox section.sortA img {
    width: auto;
    height: 100%;
    max-width: 500%;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -300px;
    pointer-events: none;
  }
}
/* line 1125, ../../scss/homepage/20170802.scss */
.contain .homepage .contentBox section.sortB.borderBox {
  border: 1px solid #d7d7d7;
}
@media screen and (max-width: 600px) {
  /* line 1125, ../../scss/homepage/20170802.scss */
  .contain .homepage .contentBox section.sortB.borderBox {
    border: 0 none;
  }
}
/* line 1131, ../../scss/homepage/20170802.scss */
.contain .homepage .contentBox section.sortB .whattowear {
  position: absolute;
  top: 20%;
  left: 70%;
  text-align: left;
  width: 100%;
  max-width: 254px;
  margin-left: -127px;
  margin-top: -72px;
}
@media screen and (max-width: 1028px) {
  /* line 1131, ../../scss/homepage/20170802.scss */
  .contain .homepage .contentBox section.sortB .whattowear {
    top: 19%;
    left: 72%;
    max-width: 209px;
    margin-left: -104.5px;
    margin-top: -66px;
  }
}
/* line 1136, ../../scss/homepage/20170802.scss */
.contain .homepage .contentBox section.sortB .investnow {
  position: absolute;
  top: 57%;
  left: 80%;
  text-align: left;
  width: 100%;
  max-width: 267px;
  margin-left: -133.5px;
  margin-top: -112px;
}
@media screen and (max-width: 1028px) {
  /* line 1136, ../../scss/homepage/20170802.scss */
  .contain .homepage .contentBox section.sortB .investnow {
    top: 60%;
    left: 76%;
    max-width: 147px;
    margin-left: -73.5px;
    margin-top: -112px;
  }
}
@media screen and (max-width: 600px) {
  /* line 1142, ../../scss/homepage/20170802.scss */
  .contain .homepage .contentBox section.sortB .copywriter {
    position: static;
    margin: 0 auto;
    display: block;
    text-align: left;
    width: 100%;
    max-width: 100%;
  }
}
/* line 1149, ../../scss/homepage/20170802.scss */
.contain .homepage .contentBox section.sortD div, .contain .homepage .contentBox section.sortC {
  display: inline-block;
  width: 47%;
  vertical-align: top;
}
@media screen and (max-width: 1028px) {
  /* line 1149, ../../scss/homepage/20170802.scss */
  .contain .homepage .contentBox section.sortD div, .contain .homepage .contentBox section.sortC {
    width: 47.5%;
  }
}
@media screen and (max-width: 600px) {
  /* line 1149, ../../scss/homepage/20170802.scss */
  .contain .homepage .contentBox section.sortD div, .contain .homepage .contentBox section.sortC {
    width: 100%;
    display: block;
  }
}
/* line 1160, ../../scss/homepage/20170802.scss */
.contain .homepage .contentBox section.sortD div.styleBox, .contain .homepage .contentBox section.sortC.styleBox {
  margin-right: 6%;
  margin-top: 0;
}
@media screen and (max-width: 1028px) {
  /* line 1160, ../../scss/homepage/20170802.scss */
  .contain .homepage .contentBox section.sortD div.styleBox, .contain .homepage .contentBox section.sortC.styleBox {
    margin-top: 0;
    margin-right: 5%;
  }
}
@media screen and (max-width: 600px) {
  /* line 1160, ../../scss/homepage/20170802.scss */
  .contain .homepage .contentBox section.sortD div.styleBox, .contain .homepage .contentBox section.sortC.styleBox {
    margin: 0 auto 5%;
  }
}
/* line 1171, ../../scss/homepage/20170802.scss */
.contain .homepage .contentBox section.sortD div .copywriter, .contain .homepage .contentBox section.sortC .copywriter {
  position: static;
  margin: 0 auto;
  display: block;
  text-align: left;
  width: 100%;
  max-width: 100%;
}
/* line 1175, ../../scss/homepage/20170802.scss */
.contain .homepage .contentBox section.sortD {
  margin-bottom: 0;
}
@media screen and (max-width: 992px) {
  /* line 1175, ../../scss/homepage/20170802.scss */
  .contain .homepage .contentBox section.sortD {
    margin-bottom: 5%;
  }
}
@media screen and (max-width: 600px) {
  /* line 1181, ../../scss/homepage/20170802.scss */
  .contain .homepage .contentBox section.sortD div.styleBox {
    margin: 0 auto;
  }
}
/* line 1187, ../../scss/homepage/20170802.scss */
.contain .homepage .contentBox section.sortD .copywriter {
  position: static;
  margin: 0 auto;
  display: block;
  text-align: left;
  width: 100%;
  max-width: 100%;
}
/* line 1189, ../../scss/homepage/20170802.scss */
.contain .homepage .contentBox section.sortD .copywriter h4 span {
  font-family: "Times New Roman",Times,serif;
  display: inline-block;
}
/* line 1196, ../../scss/homepage/20170802.scss */
.contain .homepage .contentBox section.sortD .copywriter p {
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  font-family: "monotypeTI", "Times New Roman", Times, serif;
  letter-spacing: 0;
  word-spacing: 0;
  text-rendering: optimizeSpeed;
  margin: 12px 0 15px;
}
@media screen and (max-width: 1028px) {
  /* line 1196, ../../scss/homepage/20170802.scss */
  .contain .homepage .contentBox section.sortD .copywriter p {
    font-size: 24px;
    line-height: 25px;
  }
}
@media screen and (max-width: 600px) {
  /* line 1196, ../../scss/homepage/20170802.scss */
  .contain .homepage .contentBox section.sortD .copywriter p {
    font-size: 21px;
    line-height: 22px;
  }
}
@media screen and (max-width: 600px) {
  /* line 1196, ../../scss/homepage/20170802.scss */
  .contain .homepage .contentBox section.sortD .copywriter p {
    margin: 0 auto;
  }
}
/* line 1208, ../../scss/homepage/20170802.scss */
.contain .homepage .contentBox section.sortE .copywriter {
  position: absolute;
  bottom: 18%;
  margin: 0 0 -18px 0;
  max-width: 100%;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 600px) {
  /* line 1208, ../../scss/homepage/20170802.scss */
  .contain .homepage .contentBox section.sortE .copywriter {
    bottom: 8%;
  }
}
/* line 1219, ../../scss/homepage/20170802.scss */
.contain .homepage .contentBox section.sortE span {
  color: #fff;
}
/* line 1226, ../../scss/homepage/20170802.scss */
.contain .homepage .whatToWearBox {
  display: inline-block;
  width: 30%;
  max-width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 7px 15px 15px;
}
@media screen and (max-width: 1200px) {
  /* line 1226, ../../scss/homepage/20170802.scss */
  .contain .homepage .whatToWearBox {
    width: 31%;
  }
}
@media screen and (max-width: 769px) {
  /* line 1226, ../../scss/homepage/20170802.scss */
  .contain .homepage .whatToWearBox {
    width: 100%;
    max-width: 100%;
  }
}
/* line 1241, ../../scss/homepage/20170802.scss */
.contain .homepage .whatToWearBox .copywriter h4 {
  font-size: 19px;
  line-height: 17px;
}
@media screen and (max-width: 600px) {
  /* line 1241, ../../scss/homepage/20170802.scss */
  .contain .homepage .whatToWearBox .copywriter h4 {
    font-size: 20px;
    line-height: 18px;
  }
}
@media screen and (max-width: 1028px) {
  /* line 1251, ../../scss/homepage/20170802.scss */
  .contain .homepage .whatToWearBox section.moreStory {
    width: 100% !important;
    margin-left: 0% !important;
    position: static !important;
    overflow: hidden;
    max-width: 100%;
  }
}
/* line 1261, ../../scss/homepage/20170802.scss */
.contain .homepage .whatToWearBox .more_img_box {
  border: 1px solid #d7d7d7;
  padding: 30px;
  margin-top: 40px;
}
@media screen and (max-width: 1028px) {
  /* line 1261, ../../scss/homepage/20170802.scss */
  .contain .homepage .whatToWearBox .more_img_box {
    padding: 30px 20px;
  }
}
@media screen and (max-width: 769px) {
  /* line 1261, ../../scss/homepage/20170802.scss */
  .contain .homepage .whatToWearBox .more_img_box {
    border: 0 none;
    position: relative;
    margin-top: 0;
    padding: 10px 20px;
  }
}
/* line 1274, ../../scss/homepage/20170802.scss */
.contain .homepage .whatToWearBox .more_img_box .slick-list {
  overflow: hidden;
}
@media screen and (max-width: 769px) {
  /* line 1278, ../../scss/homepage/20170802.scss */
  .contain .homepage .whatToWearBox .more_img_box .slick-arrow {
    top: 30%;
  }
}
@media screen and (max-width: 600px) {
  /* line 1278, ../../scss/homepage/20170802.scss */
  .contain .homepage .whatToWearBox .more_img_box .slick-arrow {
    top: 30%;
  }
}
/* line 1286, ../../scss/homepage/20170802.scss */
.contain .homepage .whatToWearBox .more_img_box section {
  width: 100%;
  margin-bottom: 10px;
}
@media screen and (max-width: 769px) {
  /* line 1286, ../../scss/homepage/20170802.scss */
  .contain .homepage .whatToWearBox .more_img_box section {
    width: 23.75%;
    margin: 0 0.2%;
    display: inline-block;
  }
}
/* line 1294, ../../scss/homepage/20170802.scss */
.contain .homepage .whatToWearBox .more_img_box section .copywriter {
  padding-bottom: 0;
  padding-left: 0;
}

/* line 1304, ../../scss/homepage/20170802.scss */
.textBLACK {
  color: black;
}
