@import "share/global";
@import "share/homepageOnly";
main {
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        vertical-align: top;
        padding: 0;
        margin: 0;
    }
    img {
        width: 100%;
    }
    ul,
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: $colorBlack;
        outline: 0 none;
        border: 0 none;
        @media screen and (max-width: $screenIpadHorizontal) {
            -webkit-tap-highlight-color: rgba(230, 230, 230, 0.5);
        }
    }
}


/* a tag */

.LinkTag {
    display: block;
    height: inherit;
    border: 0;
    font-size: 0;
    overflow: hidden;
    outline: 0 none;
    img {
        pointer-events: none;
    }
}

.hoverColor {
    &:hover {
        color: $colorDarkGray !important;
    }
}

.contain {
    /* font style */
    .copywriter {
        display: block;
        margin: 0 auto;
        padding: 8px 0;
        white-space: normal;
        width: 100%;
        text-align: left;
        @media screen and (max-width: $screenMobile) {
            padding: 15px 0;
        }
        * {
            color: $colorBlack;
            padding: 0 0 8px 0;
            margin: 0;
            letter-spacing: 0;
            word-spacing: 0;
        }
        h1,
        h2 {
            @include fontSetPC(700, 50px, 45px, $fontFamilyOpenSans, 0.01em, 0.15em);
            @include fontSetDevice($screenIpadHorizontal, 45px, 40px);
            @include fontSetDevice($screenIpadVertical, 38px, 33px);
            @include fontSetDevice($screenMobile, 35px, 30px);
            //@include fontSetMobile(40px,35px);
            text-transform: uppercase;
        }
        h3 {
            @include fontSetPC(700, 28px, 26px, $fontFamilyOpenSans, 0.01em, 0.2em);
            @include fontSetDevice($screenIpadHorizontal, 23px, 21px);
            text-transform: uppercase;
        }
        h4 {
            @include fontSetPC(normal, 36px, 34px, $fontFamilyMonoType, 0.01em, 0.2em);
            @include fontSetDevice($screenIpadHorizontal, 31px, 29px);
            @include fontSetDevice($screenMobile, 28px, 28px);
            text-transform: uppercase;
        }
        h5 {
            @include fontSetPC(700, 32px, 30px, $fontFamilyOpenSans, 0.01em, 0.2em);
            @include fontSetDevice($screenIpadHorizontal, 27px, 25px);
            @include fontSetDevice($screenMobile, 31px, 29px);
            text-transform: uppercase;
            padding-bottom: 0;
            text-align: center;
        }
        p {
            @include fontSetPC(normal, 16px, 20px, $fontFamilyOpenSans, 0, 0);
        }
        span {
            display: block;
            &.shopNow {
                @include fontSetPC(700, 13px, 20px, $fontFamilyOpenSans, 0.06em, 0.15em);
                @include fontSetDevice($screenIpadHorizontal, 12px, 19px);
                padding: 0;
                text-transform: uppercase;
                cursor: pointer;
                @extend .hoverColor;
            }
            &.designer {
                @include fontStyle(normal, 12px, 15px, $fontFamilyOpenSans);
                letter-spacing: 0.06em;
                word-spacing: 0.2em;
                text-rendering: optimizeSpeed;
                display: block;
                padding: 0;
            }
            &.titleTag {
                @include fontSetPC(normal, 28px, 25px, $fontFamilyZapFino, 0.06em, 0);
                @include fontSetDevice($screenIpadHorizontal, 27px, 24px);
                padding: 0;
                text-transform: capitalize;
            }
        }
        time {
            @include fontSetPC(normal, 12px, 15px, $fontFamilyOpenSans, 0.06em, 0.2em);
            text-transform: uppercase;
            display: inline-block;
            padding: 0;
            vertical-align: baseline;
        }
    }
    span {
        &.shopBtn {
            @include btnBlack;
        }
        &.shopNow {
            @include fontSetPC(700, 13px, 20px, $fontFamilyOpenSans, 0.06em, 0.15em);
            @include fontSetDevice($screenIpadHorizontal, 12px, 19px);
            padding: 0;
            text-transform: uppercase;
            cursor: pointer;
            @extend .hoverColor;
        }
    }
    /***************banner***************/
    .coverBanner {
        display: block;
        position: relative;
        width: 100%;
        overflow: hidden;
        .bannerBox {
            display: block;
            top: 0;
            left: 0;
            height: auto;
            width: 100%;
            white-space: nowrap;
            font-size: 0;
            padding: 0;
            .slick-dots {
                margin: 15px auto;
                @media screen and (max-width: $screenIpadVertical) {
                    margin: 0 auto;
                }
            }
            .bannerPic {
                position: relative;
                display: inline-block;
                width: 100%;
                overflow: hidden;
                vertical-align: top;
                border: none;
                outline: 0 none;
                /*                @media screen and (min-width: 1501px) {
                                    a#gtm-bannerC,
                                    a[data-content="box-bannerC-NEW ARRIVALS"] {
                                        background-color: #c1c0ab;
                                        img {
                                            max-height: 100%;
                                            max-width: 90%;
                                            height: auto;
                                            width: auto;
                                            padding-top: 7%;
                                            padding-left: 8%;
                                            margin-bottom: 4%;
                                        }
                                    }
                                }*/
                a {
                    @extend .LinkTag;
                    .bannerA {
                        /*
                        @include textBoxOne(53%, auto, auto, -200px);
                        @include textBoxOneIpad(1600px, 43%,auto, auto, -200px);
                        @include textBoxOneIpad(1500px, 45%,auto, auto, -200px);
                        @include textBoxOneIpad(1400px, 45%,auto, auto, -200px);
                        @include textBoxOneIpad($screenPcSize, 47%,auto, auto, -200px);
                        @include textBoxOneIpad($screenPcSizeOne, 48%,auto, auto, -200px);
                        @include textBoxOneIpad($screenPcSizeTwo, 49%,auto, auto, -200px);
                        @include textBoxOneIpad($screenIpadHorizontal, 56%,auto, auto, -200px);
                        @include textBoxOneIpad($screenIpadVerticalOne, 57%, auto, auto, -200px);
                        @include textBoxOneIpad(900px, 60%, auto, auto, -200px);
                        @include textBoxOneIpad(850px, 61%, auto, auto, -200px);
                        @include textBoxOneIpad(800px, 62%, auto, auto, -200px);
                        @include textBoxOneIpad($screenIpadVertical, 58%, auto, auto, -200px);

                        width: 100%;
                        text-align: center;

                        h1 {
                            max-width: 700px;
                            margin: 30px auto 30px auto;
                            padding-bottom: 0;
                            @include fontSetDevice(2000px, 73px, 82px);
                            @include fontSetDevice(1700px, 73px, 82px);
                            @include fontSetDevice($screenPcSize, 44px, 45px);
                            @include fontSetDevice($screenPcSizeOne, 44px, 45px);
                            @include fontSetDevice($screenPcSizeTwo, 44px, 45px);
                            @include fontSetDevice($screenIpadVerticalOne, 40px, 40px);
                            @include fontSetDevice($screenIpadVertical, 28x, 28px);

                            @media screen and (max-width: $screenPcSize) {
                                //   max-width: 70%;
                                //   margin: 1% 15% 5% 15%;
                            }
                            @media screen and (max-width: $screenIpadVerticalOne) {
                                //  max-width: 60%;
                                //    margin: 1% 20% 5% 20%;
                            }
                            @media screen and (max-width: $screenIpadVertical) {
                                max-width: 50%;
                                font-size: 38px;
                                line-height: 33px;
                                padding-bottom: 8px;
                                color: black;
                            }
                            @media screen and (max-width: $screenMobile) {
                                max-width: 100%;
                                font-size: 35px;
                                line-height: 30px;
                            }

                        }
                        div{
                            left: 50px;
                            p{
                                margin-left: 50px;
                                display: inline-block;
                            }
                            //margin: 0 0 0 0;
                            //background-color: white;
                            //padding: 2%;
                            max-width: 100%;
                            margin: 0% 17% 0% 25%;
                            div{
                                //color:#ea8982;
                                //vertical-align: baseline;
                                display: inline-block;
                                //text-decoration:underline;//底線
                                //margin-top: 5px;
                                margin-left: 5px;
                                padding-bottom: 15px;
                                border-bottom: 3px solid black;
                                @include fontSetPC(bold, 52px, 23px, $fontFamilyOpenSans, 0.05em, 0); //80 70
                                @include fontSetDevice($screenPcSize, 70px, 60px);
                                @include fontSetDevice($screenPcSizeTwo, 50px, 40px);
                                @include fontSetDevice($screenIpadVerticalOne, 40px, 30px);
                                @media screen and (max-width: $screenIpadVertical) {
                                    color: black;

                                    display:none;
                                }
                            }

                            @media screen and (max-width: $screenIpadVertical) {
                                height: 0;
                                display:none;
                            }

                        }
                        p {
                            &.p1 {
                                text-transform: uppercase;
                                @include fontSetPC(bold, 27px, 42px, $fontFamilyOpenSans, 0.4em, 0);
                                @include fontSetDevice($screenPcSize, 25px, 38px);
                                @include fontSetDevice($screenPcSizeOne, 25px, 38px);
                                @include fontSetDevice($screenPcSizeTwo, 20px, 33px);
                                @include fontSetDevice($screenIpadVerticalOne,20px, 33px);
                                @media screen and (max-width: $screenPcSizeTwo) {
                                    letter-spacing: 0.2em;
                                }
                                @media screen and (max-width: $screenIpadVertical) {
                                    color: black;

                                    display:none;
                                }
                            }
                            &.p2 {
                                @include fontSetPC(bold, 49px, 0.2, $fontFamilyOpenSans, 0, 0);
                                @include fontSetDevice($screenPcSize, 32px, 0px);
                                @include fontSetDevice($screenPcSizeOne, 29px, 0px);
                                @include fontSetDevice($screenPcSizeTwo, 24px, 0px);
                                @include fontSetDevice($screenIpadVerticalOne, 21px, 0px);
                                font-weight: 200;
                                @media screen and (max-width: $screenIpadVertical) {
                                    color: black;

                                    display:none;
                                }
                            }

                            &.p3 {
                                //color:#ea8982; 
                                text-transform: uppercase;
                                @include fontSetPC(normal, 29px, 25px, $fontFamilyOpenSans, 0.05em, 0);
                                @include fontSetDevice($screenPcSize, 25px, 25px);
                                @include fontSetDevice($screenPcSizeOne, 25px, 25px);
                                @include fontSetDevice($screenPcSizeTwo, 20px, 25px);
                                @include fontSetDevice($screenIpadVerticalOne, 18px, 25px);

                                @media screen and (max-width: $screenIpadVertical) {
                                    color: black;
                                    height: 0;
                                    display:none;

                                }

                            }
                            &.p4{
                                line-height: 37px;
                                font-weight:600;
                                @include fontSetDevice($screenPcSize, 16px, 37px);
                                @media screen and (max-width: $screenIpadVertical) {
                                    color: black;
                                    height: 0;
                                    display:none;
                                }
                            }
                        }
                        span.shopNow {
                            width: 100%;
                            display: inline-block;
                            margin-top: 1%;
                            font-size: 13px;
                            letter-spacing: 0;
                            @media screen and (max-width: $screenIpadVerticalOne) {
                                margin-top: 2%;

                            }
                            @media screen and (max-width: $screenIpadVertical) {
                                color:black;
                                @include fontSetPC(700, 12px, 19px, $fontFamilyOpenSans, 0.06em, 0.15em);
                                margin: 0px;
                                padding: 0;
                                text-transform: uppercase;
                                cursor: pointer;
                            }
                        }
*/                      
/*
                        margin: 0 0 0 0;
                        

                        @include textBoxOne(39%, 53%, 700px, -88px);// pc設定
                        @include fontSetPC(bold, 27px, 42px, $fontFamilyOpenSans, 0.4em, 0);

                        .p1{
                            @include fontSetPC(bold, 27px, 42px, $fontFamilyOpenSans, 0.4em, 0);
                            margin-left: 17%;
                            margin-bottom: 3%;
                            @media screen and (max-width: 1600px) {
                                margin-bottom: 0px;
                            }
                            @media screen and (max-width: 1300px) {
                                @include fontSetDevice(1300px, 19px, 38px);
                                margin-top: 12px;
                                margin-left: 25%;
                                margin-bottom: -1%;
                            }
                            @media screen and (max-width: 1100px){
                                margin-top: 20px;
                                font-size: 17px;
                                margin-left: 29%;
                            }
                            @media screen and (max-width: 1100px){
                                margin-bottom: -2%;
                            }
                            @media screen and (max-width: 1100px){
                                margin-top: 24px;
                            }
                        }

                        h1{
                            max-width: 560px;
                            font-size: 56px;
                            line-height: 65px;

                            margin-left: 80px;
                            margin-bottom: 10px;
                            @media screen and (max-width: 1600px) {
                                margin-left: 90px;
                            }
                            @media screen and (max-width: 1400px) {
                                margin-bottom: 5px;
                                max-width: 405px;
                                font-size: 49px;
                                margin-left: 122px;
                            }
                            @media screen and (max-width: 1300px) {
                                margin-left:135px;
                                max-width: 373px;
                                font-size: 46px;
                                line-height: 50px;
                            }
                            @media screen and (max-width: 1100px) {
                                margin-left:190px;
                                margin-bottom: -7px;
                                max-width: 319px;
                                font-size: 35px;
                                line-height: 40px;
                            }
                            @media screen and (max-width: 900px) {
                                margin-bottom: -14px;
                            }
                            @media screen and (max-width: $screenIpadVertical) {
                                margin: 0 0 0 0;
                                line-height: 30px;
                            }
                            @media screen and (max-width: 600px) {
                                line-height: 30px;
                            }
                        }
                        div{
                            .p3{
                                display: inline-block;
                                margin-top: 8px;
                                margin-left: 27px;
                                @include fontSetPC(normal, 29px, 25px, $fontFamilyOpenSans, 0.05em, 0);
                                @media screen and (max-width: 1600px) {
                                    margin-left: 35px;
                                }
                                @media screen and (max-width: 1500px) {
                                    font-size: 25px;
                                    margin-left: 84px;
                                }
                                @media screen and (max-width: 1300px) {
                                    font-size: 20px;
                                    margin-left: 135px;
                                }
                                @media screen and (max-width: 1100px) {
                                    font-size: 16px;
                                    margin-left: 197px;
                                }
                            }
                            .under{
                                display: inline-block;
                                border-bottom: 3px solid black;
                                font-size: 50px;
                                @media screen and (max-width: 1500px) {
                                    margin-top: 10px;
                                    @include fontSetDevice(1500px, 40px, 25px);
                                }
                                @media screen and (max-width: 1300px) {
                                    font-size: 30px;
                                    line-height: 21px;
                                }
                                @media screen and (max-width: 1100px) {
                                    margin-top: 17px;
                                    font-size: 18px;
                                    line-height: 11px;
                                }
                            }
                            @media screen and (max-width: 1400px) {
                                padding-bottom: 4px;
                            }
                        }
                        .p4{
                            line-height: 37px;
                            font-weight:600;
                            margin-top: 5px;
                            margin-left: 147px;
                            @media screen and (max-width: 1400px) {
                                margin-top: 0px;
                            }
                            @media screen and (max-width: 1300px) {
                                margin-left: 165px;
                            }
                            @media screen and (max-width: 1100px) {
                                font-size: 13px;
                                margin-left: 207px;
                            }
                            @media screen and (max-width: 900px) {
                                margin-top: -8px;
                            }
                        }
                        span{
                            color: black;
                            margin-top: 86px;
                            margin-left: 257px;
                            //text-align:center; //段落置中
                            @media screen and (max-width: 1800px) {
                                margin-top: 64px;
                            }
                            @media screen and (max-width: 1700px) {
                                margin-top: 46px;
                            }
                            @media screen and (max-width: 1100px) {
                                margin-top: 50px;
                                margin-left: 280px;
                            }
                            @media screen and (max-width: $screenIpadVerticalOne) {
                                margin-top: 30px;
                                margin-left: 280px;
                            }
                            @media screen and (max-width: 844px) {
                                margin-top: 24px;
                            }
                            @media screen and (max-width: $screenIpadVertical) {
                                margin: 0 0 0 0;
                            }
                        }
                        .mobileHide{
                            @media screen and (max-width: $screenIpadVertical) {
                                display: none;
                            }
                        }
                        */
                        margin: 0 0 0 0;
                        

                        @include textBoxOne(39%, 52%, 700px, -88px);// pc設定
                        @include fontSetPC(bold, 27px, 42px, $fontFamilyOpenSans, 0.4em, 0);
                        @media screen and (max-width: 1600px) {
                            @include textBoxOne(41%, 52%, 700px, -88px);// pc設定
                        }
                        .p1{
                            @include fontSetPC(bold, 27px, 42px, $fontFamilyOpenSans, 0.4em, 0);

                            max-width: 58%;
                            margin-left: 21%;
                            margin-right: 21%;
                        
                            text-align:center; //段落置中
                            margin-bottom: 3%;
                            @media screen and (max-width: 1600px) {
                                margin-bottom: 0px;
                            }
                            @media screen and (max-width: 1300px) {
                                @include fontSetDevice(1300px, 19px, 38px);
                                margin-top: 12px;
                                margin-bottom: -1%;
                            }
                            @media screen and (max-width: 1100px){
                                margin-top: 20px;
                                font-size: 17px;
                            }
                            @media screen and (max-width: 1100px){
                                margin-bottom: -2%;
                            }
                            @media screen and (max-width: 1100px){
                                margin-top: 24px;
                            }
                        }

                        h1{
                            max-width: 66%;
                            margin-left: 17%;
                            margin-right: 17%;
                            margin-bottom: 10px;
                            font-size: 56px;
                            line-height: 65px;
                            text-align:center; //段落置中
                            @media screen and (max-width: 1600px) {
                                line-height: 55px;
                            }
                            @media screen and (max-width: 1400px) {
                                margin-bottom: 5px;
                                max-width: 58%;
                                margin-left: 21%;
                                margin-right: 21%;
                                font-size: 49px;
                            }
                            @media screen and (max-width: 1300px) {
                                //max-width: 373px;
                                font-size: 46px;
                                line-height: 50px;
                            }
                            @media screen and (max-width: 1100px) {
                                margin-bottom: -7px;
                                max-width: 42%;
                                margin-left: 29%;
                                margin-right: 29%;
                                font-size: 35px;
                                line-height: 40px;
                            }
                            @media screen and (max-width: 1000px) {
                                margin-bottom: -7px;
                            }
                            @media screen and (max-width: 900px) {
                                margin-bottom: -14px;
                            }
                            @media screen and (max-width: $screenIpadVertical) {
                                margin: 0 0 0 0;
                                line-height: 30px;
                                //max-width: 39%;
                                max-width: 284px;
                            }
                            @media screen and (max-width: 600px) {
                                line-height: 30px;
                            }
                        }
                        .div01{
                            max-width: 82%;
                            margin-left: 9%;
                            margin-right: 9%;
                            text-align:center; //段落置中
                            @media screen and (max-width: 1600px) {
                                max-width: 82%;
                                margin-left: 9%;
                                margin-right: 9%;
                                text-align:center; //段落置中
                            }
                            @media screen and (max-width: 1500px) {
                                //padding-bottom: 4px;
                                max-width: 70%;
                                margin-left: 15%;
                                margin-right: 15%;
                            }
                            @media screen and (max-width: 1400px) {
                                //padding-bottom: 4px;
                                max-width: 70%;
                                margin-left: 15%;
                                margin-right: 15%;
                            }
                            @media screen and (max-width: 1300px) {
                                //padding-bottom: 4px;
                                max-width: 54%;
                                margin-left: 23%;
                                margin-right: 23%;
                            }
                            @media screen and (max-width: 1200px) {
                                //padding-bottom: 4px;
                                max-width: 54%;
                                margin-left: 23%;
                                margin-right: 23%;
                                margin-bottom: -14px; 
                            }
                            @media screen and (max-width: 1100px) {
                                //padding-bottom: 4px;
                                max-width: 40%;
                                margin-left: 30%;
                                margin-right: 30%;
                            }
                            .p3{
                                display: inline-block;
                                margin-top: 8px;
                                text-align:center; //段落置中
                                @include fontSetPC(normal, 29px, 25px, $fontFamilyOpenSans, 0.05em, 0);
                                @media screen and (max-width: 1600px) {
                                    font-size: 23px;
                                }
                                @media screen and (max-width: 1500px) {
                                    font-size: 23px;
                                }
                                @media screen and (max-width: 1300px) {
                                    font-size: 20px;
                                }
                                @media screen and (max-width: 1100px) {
                                    font-size: 16px;
                                }
                            }
                            .under{
                                display: inline-block;
                                text-align:center; //段落置中
                                padding-bottom: 4px;
                                border-bottom: 3px solid black;
                                font-size: 50px;
                                @media screen and (max-width: 1600px) {
                                    font-size: 35px;
                                    padding-bottom: 0px;
                                    height: 40px;
                                }
                                @media screen and (max-width: 1500px) {
                                    margin-top: -4px;
                                    @include fontSetDevice(1500px, 26px, 48px);
                                    padding-bottom: 0px;
                                }
                                @media screen and (max-width: 1300px) {
                                    font-size: 26px;
                                    line-height: 43px;
                                    padding-top: 4px; 
                                    padding-bottom: 0px; 
                                    border-bottom: 2px solid black;
                                }
                                @media screen and (max-width: 1200px) {

                                }
                                @media screen and (max-width: 1100px){
                                    margin-top: -10px;
                                    font-size: 18px;
                                    line-height: 54px;
                                    padding-top: 3px; 
                                    padding-bottom: 3px; 
                                    border-bottom: 1px solid black;
                                }
                            }
                        }
                        .p4{
                            max-width: 44%;
                            margin-left: 28%;
                            margin-right: 28%;
                            line-height: 37px;
                            font-weight:600;
                            margin-top: 5px;
                            text-align:center; //段落置中
                            @media screen and (max-width: 1400px) {
                                margin-top: 0px;
                            }
                            @media screen and (max-width: 1300px) {
                                
                            }
                            @media screen and (max-width: 1100px) {
                                font-size: 13px;
                                
                            }
                            @media screen and (max-width: 1000px) {
                                margin-bottom: -7px;
                            }
                            @media screen and (max-width: 900px) {
                                //margin-top: -8px;
                            }

                        }
                        span{
                            color: black;
                            margin-top: 86px;
                            //margin-left: 257px;
                            text-align:center; //段落置中
                            @media screen and (max-width: 1800px) {
                                margin-top: 64px;
                            }
                            @media screen and (max-width: 1700px) {
                                margin-top: 46px;
                            }
                            @media screen and (max-width: 1600px) {
                                margin-top: 76px;
                            }
                            @media screen and (max-width: 1500px) {
                                margin-top: 62px;
                            }
                            @media screen and (max-width: 1300px) {
                                margin-top: 50px;
                            }
                            @media screen and (max-width: 1100px) {
                                margin-top: 50px;
                            }
                            @media screen and (max-width: $screenIpadVerticalOne) {
                                margin-top: 30px;
                            }
                            @media screen and (max-width: 844px) {
                                margin-top: 24px;
                            }
                            @media screen and (max-width: $screenIpadVertical) {
                                margin: 0 0 0 0;
                                text-align:left; //段落置中
                            }
                        }
                        .mobileHide{
                            @media screen and (max-width: $screenIpadVertical) {
                                display: none;
                            }
                        }
                        //.mobileH1{
                            //max-width: 40%;
                          //  margin: 0 0 0 0;
                        //}
                    }
                    .bannerB {
                        @include textBoxOne(45%, 49%, 312px, -88px);// pc設定
                        @include textBoxOneIpad(1100px,45%, 48%, 267px, -88px);
                        //@include textBoxOneIpad($screenIpadHorizontal,45%, 48%, 385px, -88px);
                        @include textBoxOneIpad($screenIpadVerticalOne,45%, 46%, 255px, -88px);
                        //@include textBoxOneIpad(800px,45%, 51%, 385px, -88px);
                        text-align: left;
                    }

                    .bannerC {  
                        text-align: left;
                        @include textBoxOne(20%, 80%, 408px, -58px);// pc設定c
                        @include textBoxOneIpad(1200px,18%, 79%, 373px, -58px);
                        @include textBoxOneIpad($screenIpadVerticalOne,17%, 77%, 335px, -58px);
                        
                    }
                    .copywriter {
                        @media screen and (max-width: $screenIpadVertical) {
                            @include textBoxTwo;
                            padding: 15px;
                        }
                    }
                }
            }
        }
    }
    /*************************************************/
    .backgroundImg{
        position:relative;
        left:0;
        right:0;
        top:0;
        bottom:0;
        height:100%;
        background-image: url(http://www.ifchic.com/img/banners/2017/05/25/summersale_bg_2.jpg?v=11);
        background-attachment:fixed;
        background-position:center top;
        background-size:cover;

        padding-top: 60px;
        @media screen and (max-width: 1200px){
            background-image: none;
        }
    }
    .homepage {
        max-width: 1300px;
        width: 100%;
        margin: 0px auto 8%;
        padding: 0 25px;
        @media screen and (max-width: $screenPcSize) {
            max-width: 1200px;
        }
        @media screen and (max-width:$screenIpadHorizontal) {
            padding: 0 15px;
            max-width: 100%;
        }
        /*left Box*/
        .theWomen {
            text-align: center;
            margin: 4% auto 5% !important;
            position: relative;
            padding: 0 50px;

            h3{
                padding-right:24% ;
                @media screen and (max-width:$screenIpadHorizontal) {
                    padding-right:23% ;
                }
                @media screen and (max-width:900) {
                    padding-right:46% ;
                }
                @media screen and (max-width: $screenIpadVerticalOne) {
                    padding-right:41% ;
                }
            }
            @media screen and (max-width: $screenIpadVerticalOne) {
                text-align: left;
                padding: 0 40px;
            }
            @media screen and (max-width:$screenMobile) {
                padding: 0;
            }
            a {
                overflow: hidden;
                display: block;
                height: 100%;
                &.shopTheIssue {
                    margin: 10px auto 20px;
                    text-align: center;
                }
            }
            .pcBox {
                border: 1px solid $colorLightGary;
                background-color: white;
                @media screen and (max-width: $screenMobile) {
                    display: none !important;
                }
            }
            section {
                margin-bottom: 0;
                padding: 0;
                display: inline-block;
                border: 0 none;
                outline: 0 none;
                > div {
                    overflow: hidden;
                    &.imgFloatRight {
                        img {
                            float: right;
                        }
                    }
                    &.imgFloatLeft {
                        img {
                            float: left;
                        }
                        .textBoxStyle {
                            margin-right: 0;
                        }
                    }
                    .textBoxStyle {
                        display: inline-block;
                        width: 55%;
                        max-width: 100%;
                        margin-right: 5%;
                        @media screen and (max-width: $screenIpadVerticalOne) {
                            display: block;
                            width: 100%;
                            max-width: 100%;
                        }
                        .copywriter {
                            padding: 0;
                            p {
                                padding-bottom: 15px;
                            }
                        }
                    }
                    .textBoxContent {
                        p {
                            line-height: 25px;
                        }
                    }
                    .titleContent {
                        padding-top: 0;
                        @media screen and (max-width: $screenIpadVerticalOne) {
                            padding-top: 10px;
                        }
                    }
                    .contentBoxStyle {
                        @media screen and (max-width: $screenIpadVerticalOne) {
                            width: 100%;
                            display: block;
                            max-width: 100%;
                            overflow: hidden;
                            padding-top: 15px;
                        }
                    }
                }
                img {
                    width: 40%;
                    display: inline-block;
                    vertical-align: top;
                    @media screen and (max-width: $screenIpadVerticalOne) {
                        display: block;
                        margin: 0 auto;
                        width: 60%;
                        float: none !important;
                    }
                    @media screen and (max-width:$screenMobile) {
                        width: 100%;
                        display: block;
                    }
                }
            }
            .slick-arrow {
                top: 40%;
                @media screen and (max-width: $screenIpadVertical) {
                    top: 40%;
                }
                @media screen and (max-width:$screenMobile) {
                    display: none !important;
                }
            }
            .slick-list {
                overflow: hidden;
                @media screen and (max-width: $screenMobile) {
                    border: 0 none;
                    margin: 0 auto;
                }
            }
            span {
                vertical-align: baseline;
                &.designer {
                    padding-bottom: 10px;
                    color: #bababa;
                }
                &.titleTag {
                    display: inline-block;
                    font-size: 50px;
                    line-height: 61px;
                    margin-left: 5px;
                    height: 42px;
                    @media screen and (max-width: $screenIpadVerticalOne) {
                        font-size: 45px;
                        line-height: 66px;
                        height: 44px;
                        margin-left: 0;
                    }
                    @media screen and (max-width:$screenMobile) {
                        font-size: 35px;
                        line-height: 30px;
                        height: 24px;
                    }
                }
                &.shopNow {
                    display: block;
                    text-align: left;
                }
            }
            ul {
                &.pcShow {
                    display: block;
                    padding: 20px 50px 0;
                }
                &.mobileShow {
                    display: none;
                    @media screen and (max-width: $screenMobile) {
                        display: block !important;
                        border: 1px solid #d7d7d7;
                        padding: 10px 15px;
                    }
                    p {
                        max-height: 104px;
                        overflow: hidden;
                    }
                }
            }
        }



        .contentBox {
            width: 60%;
            margin-right: 10%;
            //margin-bottom: 8%;
            display: inline-block;
            background-color: #fff;
            padding: 7px 15px 15px;
            @media screen and (max-width: $screenPcSizeOne) {
                width: 67%;
                margin-right: 2%;
            }
            @media screen and (max-width:$screenIpadVertical) {
                width: 100%;
                margin: 0 auto;
            }
            section {
                margin-bottom: 8%;
                display: block;
                position: relative;
                vertical-align: top;
                @media screen and (max-width: $screenIpadHorizontal) {
                    margin-bottom: 5%;
                }
                @media screen and (max-width:$screenMobile) {
                    margin-bottom: 30px;
                }
                a {
                    @extend .LinkTag;
                }
                &.ADbanner {
                    .copywriter.bannerAD {
                        max-width: 300px;
                        margin-top: -230px;
                        h3 {
                            font-size: 16px;
                        }
                    }
                }
                &.newArrivals {
                    .copywriter {
                        text-align: center;
                    }
                    .productsBox {
                        padding: 0 40px;
                        .product_list_page {
                            padding-bottom: 0px;
                        }
                    }
                    .slick-arrow {
                        @media screen and (max-width: $screenIpadVertical) {
                            top: 40%;
                        }
                        @media screen and (max-width:$screenMobile) {
                            top: 40%;
                        }
                    }
                }
                &.navigation {
                    display: none;
                    @media screen and (max-width: $screenMobile) {
                        display: block;
                    }
                    ul {
                        li {
                            border-bottom: 1px solid $colorLightBlack;
                            a {
                                @include fontSetPC(700, 15px, 35px, $fontFamilyOpenSans, 0.05em, 0);
                                color: $colorBlack;
                                text-transform: uppercase;
                                text-align: center;
                                -webkit-tap-highlight-color: rgba(230, 230, 230, 0.5);
                                &:hover {
                                    background-color: rgba(230, 230, 230, 0.5);
                                }
                            }
                            &:first-child {
                                border-top: 3px solid $colorLightBlack;
                            }
                            &:last-child {
                                border-bottom: 3px solid $colorLightBlack;
                            }
                        }
                    }
                }
                &.sortA {
                    display: none;
                    @media screen and (max-width: $screenMobile) {
                        position: relative;
                        height: 150px;
                        overflow: hidden;
                    }
                    img {
                        @media screen and (max-width: $screenMobile) {
                            width: auto;
                            height: 100%;
                            max-width: 500%;
                            position: absolute;
                            left: 50%;
                            top: 0;
                            margin-left: -300px;
                            pointer-events: none;
                        }
                    }
                }
                &.sortB {
                    &.borderBox {
                        border: 1px solid $colorLightGary;
                        @media screen and (max-width: $screenMobile) {
                            border: 0 none;
                        }
                    }
                    .whattowear {
                        @include textBoxOne(20%, 70%, 254px, -72px);
                        @include textBoxOneIpad($screenIpadHorizontal, 19%, 72%, 209px, -66px);
                    }

                    .investnow {
                        //@include IpadColor($screenMobile);
                        @include textBoxOne(57%, 80%, 267px, -112px);
                        @include textBoxOneIpad($screenIpadHorizontal,60%, 76%, 147px, -112px);

                    }
                    .copywriter {
                        @media screen and (max-width: $screenMobile) {
                            @include textBoxTwo;
                        }
                    }
                }
                &.sortD div,
                &.sortC {
                    display: inline-block;
                    width: 47%;
                    vertical-align: top;
                    @media screen and (max-width: $screenIpadHorizontal) {
                        width: 47.5%;
                    }
                    @media screen and (max-width:$screenMobile) {
                        width: 100%;
                        display: block;
                    }
                    &.styleBox {
                        margin-right: 6%;
                        margin-top: 0;
                        @media screen and (max-width: $screenIpadHorizontal) {
                            margin-top: 0;
                            margin-right: 5%;
                        }
                        @media screen and (max-width:$screenMobile) {
                            margin: 0 auto 5%;
                        }
                    }
                    .copywriter {
                        @include textBoxTwo;
                    }
                }
                &.sortD {
                    margin-bottom: 0;
                    @media screen and (max-width: $screenIpadVerticalOne) {
                        margin-bottom: 5%;
                    }
                    div {
                        &.styleBox {
                            @media screen and (max-width: $screenMobile) {
                                margin: 0 auto;
                            }
                        }
                    }
                    .copywriter {
                        h4{
                            span{
                                font-family: "Times New Roman",Times,serif;
                                display: inline-block;
                            }   
                        }
                        @include textBoxTwo;

                        p {
                            @include fontSetPC(normal, 28px, 28px, $fontFamilyMonoTypeTI, 0, 0);
                            @include fontSetDevice($screenIpadHorizontal, 24px, 25px);
                            @include fontSetDevice($screenMobile, 21px, 22px);
                            margin: 12px 0 15px;
                            @media screen and (max-width: $screenMobile) {
                                margin: 0 auto;
                            }
                        }
                    }
                }
                &.sortE {
                    .copywriter {
                        position: absolute;
                        bottom: 18%;
                        margin: 0 0 -18px 0;
                        max-width: 100%;
                        width: 100%;
                        text-align: center;
                        @media screen and (max-width: $screenMobile) {
                            bottom: 8%;
                        }
                    }
                    span {
                        color: #fff;
                    }
                }
            }
        }
        /*right Box*/
        .whatToWearBox {
            display: inline-block;
            width: 30%;
            max-width: 100%;
            margin: 0 auto;
            background-color: #fff;
            padding: 7px 15px 15px;
            @media screen and (max-width: $screenPcSizeOne) {
                width: 31%;
            }
            @media screen and (max-width:$screenIpadVertical) {
                width: 100%;
                max-width: 100%;
            }
            .copywriter {
                h4 {
                    font-size: 19px;
                    line-height: 17px;
                    @media screen and (max-width: $screenMobile) {
                        font-size: 20px;
                        line-height: 18px;
                    }
                }
            }
            section {
                &.moreStory {
                    @media screen and (max-width: $screenIpadHorizontal) {
                        width: 100% !important;
                        margin-left: 0% !important;
                        position: static !important;
                        overflow: hidden;
                        max-width: 100%;
                    }
                }
            }
            .more_img_box {
                border: 1px solid $colorLightGary;
                padding: 30px;
                margin-top: 40px;
                @media screen and (max-width: $screenIpadHorizontal) {
                    padding: 30px 20px;
                }
                @media screen and (max-width:$screenIpadVertical) {
                    border: 0 none;
                    position: relative;
                    margin-top: 0;
                    padding: 10px 20px;
                }
                .slick-list {
                    overflow: hidden;
                    //margin: 0 30px;
                }
                .slick-arrow {
                    @media screen and (max-width: $screenIpadVertical) {
                        top: 30%;
                    }
                    @media screen and (max-width:$screenMobile) {
                        top: 30%;
                    }
                }
                section {
                    width: 100%;
                    margin-bottom: 10px;
                    @media screen and (max-width: $screenIpadVertical) {
                        width: 23.75%;
                        margin: 0 0.2%;
                        display: inline-block;
                    }
                    .copywriter {
                        padding-bottom: 0;
                        padding-left: 0;
                    }
                }
            }
        }
    }
}

.textBLACK{
    color:black;
}