@import "share/global";
@import "share/homepageOnly";



.designer-trend{
    .content{
        .contentBox02 {
            margin-bottom: 0px;
            .hidePBox{
                display: none;
                @media screen and (max-width:$screenMobile){
                    display: block;
                }
            }
        }
        .contentBox03{
            .pBox{
                top:8%;
                left:3%;
                max-width:308px;
                @media screen and (max-width:$screenIpadVertical){
                    top:4%;
                    left:3%;
                    max-width:268px;
                }
            }
            .littleBox{
                top:47%;
                left:3%;
                max-width:231px;
                padding-bottom: 0px;
                @media screen and (max-width:$screenIpadVertical){
                    max-width:190px;
                }
                span{
                   font-weight: 600; 
                   font-family: "Open Sans", sans-serif;
                }
                a{
                    text-decoration:none;
                    font-weight: 700; 
                    font-family: "Open Sans", sans-serif;
                }
                p{
                    font-size: 14px;
                    line-height:17px;
                    font-weight: 600; 
                    font-family: "monotype";
                    margin-bottom: 5px;
                }
            }
            .cellHide{
                display: block;
                @media screen and (max-width:$screenMobile){
                    display: none;
                }
            }
            .inlineDiv{
                display:inline;
                font-weight: 600; 
                font-family: "Open Sans", sans-serif;
            }
        }
    }
}