@import "share/global";

.second-v04 {
    .content {
        .contentBox01{
            margin:0 0 0 0;
            .imgTextBox {
                left: 45%;
                top: 12%;
                max-width: 430px;
                margin: 0 0 0 0;
                @media screen and (max-width:$screenIpadVertical){
                    left: 41%;
                    top: 11%;
                    max-width: 414px;
                }

                .titleBox{
                    display: inline-block;
                }
                .p2{
                    display: inline-block;
                    padding-bottom: 0px
                }
            } 
        }

        
        .contentBox02 {
            margin:0 0 0 0;
            .imgTextBox {
                left: 32%;
                top: 48%;
                max-width: 525px;
                margin: -106px 0 0 -104px;


                @media screen and (max-width:$screenIpadVertical){
                    left: 34%;
                    top: 49%;
                    max-width: 525px;
                    margin: -106px 0 0 -104px;     
                }

                .titleText{
                    margin-left: 0px;
                }
            }
        }

        .contentBox03 {
            margin:0 0 0 0;
            .imgTextBox {
                left: 52%;
                top: 40%;
                max-width: 475px;
                margin: -106px 0 0 -110px;

                @media screen and (max-width:$screenIpadVertical){
                    left: 55%;
                    top: 33%;
                    max-width: 432px;
                }
            }
        }

        .contentBox04 {
            margin:0 0 0 0;
            .imgTextBox {
                left: 56%;
                top: 20%;
                max-width: 450px;
                margin: -106px 0 0 -110px;

                @media screen and (max-width:$screenIpadVertical){
                    top: 25%;
                    .sss{
                        margin-left: 84px;
                    }
                    max-width: 395px;
                }
                @media screen and (max-width:$screenMobile){
                    .sss{
                        margin-left: 0px;
                    }
                }
            }
        }
    }
}

.second-v04 {
    .content {
        /*
        .titleText{
            width: 465px;
            height: 32px;
            font-size: 40px;
            font-weight: 700;
            font-style: normal;
            margin-bottom: 5px; 
            font-family: Arial;
            font-family: "Open Sans", sans-serif;
        }*/
        
        .titleText{
            margin: 0 0 0 0;
            padding: 0 0 0 0;
        }
        
        .littleTitleText{
            font-size: 10px;
            font-weight: 400;
            font-style: italic;
            font-family: "Open Sans", sans-serif;
            margin-left: 2px;
        }

        

        .littleImg{
            width: 100px;
            margin-left: 0px;
            margin-bottom: 5px;

            @media screen and (max-width:$screenIpadVertical){
                width: 82px;
                //height: 63px;
            }
        }

        

        .BoxP{
            //font-size: 15px;
            //font-family: "Open Sans", sans-serif;
            font-style: italic;
            //line-height:23px;
            padding: 0 0 0 0;
        }

        .linkBtn{
            padding: 5px 0 5px 5px; 
        }
    }
}